In [1]:
#first import pandas library
import pandas as pd

In [5]:
#import data for exploration, here data is dataframe
dataframe = pd.read_csv(r"C:\Users\USER\Documents\Callen Study\Portfolio Build\Project 1- COVID 19\Data sets for SQL\COVID Deaths.csv")
#you can name dataframe as mydata, newdata ...of your choice

In [6]:
#to view data
dataframe

,iso_code,continent,location,date,population,total_cases,new_cases,new_cases_smoothed,total_deaths,new_deaths,...,new_deaths_smoothed_per_million,reproduction_rate,icu_patients,icu_patients_per_million,hosp_patients,hosp_patients_per_million,weekly_icu_admissions,weekly_icu_admissions_per_million,weekly_hosp_admissions,weekly_hosp_admissions_per_million
0,AFG,Asia,Afghanistan,2/24/2020,38928341.0,1.0,1.0,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,AFG,Asia,Afghanistan,2/25/2020,38928341.0,1.0,0.0,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,AFG,Asia,Afghanistan,2/26/2020,38928341.0,1.0,0.0,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,AFG,Asia,Afghanistan,2/27/2020,38928341.0,1.0,0.0,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,AFG,Asia,Afghanistan,2/28/2020,38928341.0,1.0,0.0,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
110054,ZWE,Africa,Zimbabwe,8/12/2021,14862927.0,118754.0,800.0,609.286,4047.0,56.0,...,2.816,0.65,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
110055,ZWE,Africa,Zimbabwe,8/13/2021,14862927.0,119508.0,754.0,580.429,4073.0,26.0,...,2.576,0.65,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
110056,ZWE,Africa,Zimbabwe,8/14/2021,14862927.0,119853.0,345.0,566.143,4090.0,17.0,...,2.537,0.65,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
110057,ZWE,Africa,Zimbabwe,8/15/2021,14862927.0,120088.0,235.0,537.286,4109.0,19.0,...,2.009,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
110058,ZWE,Africa,Zimbabwe,8/16/2021,14862927.0,120088.0,0.0,462.143,4109.0,0.0,...,1.826,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [7]:
dataframe.shape

(110059, 26)

In [8]:
dataframe.index

RangeIndex(start=0, stop=110059, step=1)

In [10]:
dataframe.columns

Index(['iso_code', 'continent', 'location', 'date', 'population',
       'total_cases', 'new_cases', 'new_cases_smoothed', 'total_deaths',
       'new_deaths', 'new_deaths_smoothed', 'total_cases_per_million',
       'new_cases_per_million', 'new_cases_smoothed_per_million',
       'total_deaths_per_million', 'new_deaths_per_million',
       'new_deaths_smoothed_per_million', 'reproduction_rate', 'icu_patients',
       'icu_patients_per_million', 'hosp_patients',
       'hosp_patients_per_million', 'weekly_icu_admissions',
       'weekly_icu_admissions_per_million', 'weekly_hosp_admissions',
       'weekly_hosp_admissions_per_million'],
      dtype='object')

In [11]:
dataframe.dtypes

iso_code                               object
continent                              object
location                               object
date                                   object
population                            float64
total_cases                           float64
new_cases                             float64
new_cases_smoothed                    float64
total_deaths                          float64
new_deaths                            float64
new_deaths_smoothed                   float64
total_cases_per_million               float64
new_cases_per_million                 float64
new_cases_smoothed_per_million        float64
total_deaths_per_million              float64
new_deaths_per_million                float64
new_deaths_smoothed_per_million       float64
reproduction_rate                     float64
icu_patients                          float64
icu_patients_per_million              float64
hosp_patients                         float64
hosp_patients_per_million             float64
weekly_icu_admissions                 float64
weekly_icu_admissions_per_million     float64
weekly_hosp_admissions                float64
weekly_hosp_admissions_per_million    float64
dtype: object

In [18]:
dataframe.head()

,iso_code,continent,location,date,population,total_cases,new_cases,new_cases_smoothed,total_deaths,new_deaths,...,new_deaths_smoothed_per_million,reproduction_rate,icu_patients,icu_patients_per_million,hosp_patients,hosp_patients_per_million,weekly_icu_admissions,weekly_icu_admissions_per_million,weekly_hosp_admissions,weekly_hosp_admissions_per_million
0,AFG,Asia,Afghanistan,2/24/2020,38928341.0,1.0,1.0,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,AFG,Asia,Afghanistan,2/25/2020,38928341.0,1.0,0.0,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,AFG,Asia,Afghanistan,2/26/2020,38928341.0,1.0,0.0,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,AFG,Asia,Afghanistan,2/27/2020,38928341.0,1.0,0.0,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,AFG,Asia,Afghanistan,2/28/2020,38928341.0,1.0,0.0,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [13]:
dataframe.head(3)

,iso_code,continent,location,date,population,total_cases,new_cases,new_cases_smoothed,total_deaths,new_deaths,...,new_deaths_smoothed_per_million,reproduction_rate,icu_patients,icu_patients_per_million,hosp_patients,hosp_patients_per_million,weekly_icu_admissions,weekly_icu_admissions_per_million,weekly_hosp_admissions,weekly_hosp_admissions_per_million
0,AFG,Asia,Afghanistan,2/24/2020,38928341.0,1.0,1.0,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,AFG,Asia,Afghanistan,2/25/2020,38928341.0,1.0,0.0,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,AFG,Asia,Afghanistan,2/26/2020,38928341.0,1.0,0.0,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [14]:
dataframe.tail(10)

,iso_code,continent,location,date,population,total_cases,new_cases,new_cases_smoothed,total_deaths,new_deaths,...,new_deaths_smoothed_per_million,reproduction_rate,icu_patients,icu_patients_per_million,hosp_patients,hosp_patients_per_million,weekly_icu_admissions,weekly_icu_admissions_per_million,weekly_hosp_admissions,weekly_hosp_admissions_per_million
110049,ZWE,Africa,Zimbabwe,8/7/2021,14862927.0,115890.0,445.0,1004.286,3826.0,21.0,...,2.826,0.69,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
110050,ZWE,Africa,Zimbabwe,8/8/2021,14862927.0,116327.0,437.0,968.714,3900.0,74.0,...,3.047,0.68,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
110051,ZWE,Africa,Zimbabwe,8/9/2021,14862927.0,116853.0,526.0,856.857,3919.0,19.0,...,2.730,0.67,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
110052,ZWE,Africa,Zimbabwe,8/10/2021,14862927.0,117258.0,405.0,689.000,3950.0,31.0,...,2.634,0.66,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
110053,ZWE,Africa,Zimbabwe,8/11/2021,14862927.0,117954.0,696.0,632.571,3991.0,41.0,...,2.691,0.65,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
110054,ZWE,Africa,Zimbabwe,8/12/2021,14862927.0,118754.0,800.0,609.286,4047.0,56.0,...,2.816,0.65,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
110055,ZWE,Africa,Zimbabwe,8/13/2021,14862927.0,119508.0,754.0,580.429,4073.0,26.0,...,2.576,0.65,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
110056,ZWE,Africa,Zimbabwe,8/14/2021,14862927.0,119853.0,345.0,566.143,4090.0,17.0,...,2.537,0.65,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
110057,ZWE,Africa,Zimbabwe,8/15/2021,14862927.0,120088.0,235.0,537.286,4109.0,19.0,...,2.009,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
110058,ZWE,Africa,Zimbabwe,8/16/2021,14862927.0,120088.0,0.0,462.143,4109.0,0.0,...,1.826,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [15]:
dataframe['continent'].unique()

array(['Asia', nan, 'Europe', 'Africa', 'North America', 'South America',
       'Oceania'], dtype=object)

In [16]:
#shows unique values in entire table
dataframe.nunique()

iso_code                                232
continent                                 6
location                                232
date                                    594
population                              230
total_cases                           59167
new_cases                             14039
new_cases_smoothed                    26978
total_deaths                          22635
new_deaths                             3222
new_deaths_smoothed                    7354
total_cases_per_million               81978
new_cases_per_million                 45689
new_cases_smoothed_per_million        51779
total_deaths_per_million              51708
new_deaths_per_million                 8200
new_deaths_smoothed_per_million        9572
reproduction_rate                       365
icu_patients                           2661
icu_patients_per_million               6211
hosp_patients                          5248
hosp_patients_per_million             10405
weekly_icu_admissions                   696
weekly_icu_admissions_per_million       699
weekly_hosp_admissions                 1727
weekly_hosp_admissions_per_million     1741
dtype: int64

In [17]:
#shows unique values in as SINGLE column
dataframe['date'].nunique()

594

In [19]:
 dataframe.count()

iso_code                              110059
continent                             104976
location                              110059
date                                  110059
population                            109288
total_cases                           105227
new_cases                             105224
new_cases_smoothed                    104214
total_deaths                           94772
new_deaths                             94927
new_deaths_smoothed                   104214
total_cases_per_million               104670
new_cases_per_million                 104667
new_cases_smoothed_per_million        103662
total_deaths_per_million               94228
new_deaths_per_million                 94383
new_deaths_smoothed_per_million       103662
reproduction_rate                      88702
icu_patients                           11836
icu_patients_per_million               11836
hosp_patients                          14215
hosp_patients_per_million              14215
weekly_icu_admissions                   1038
weekly_icu_admissions_per_million       1038
weekly_hosp_admissions                  2014
weekly_hosp_admissions_per_million      2014
dtype: int64

In [20]:
dataframe['location'].count()

110059

In [21]:
dataframe['location'].value_counts()

Mexico                             594
Peru                               594
Argentina                          594
Thailand                           591
Taiwan                             579
                                  ...
Niue                                50
Tuvalu                              50
Pitcairn                            49
Bonaire Sint Eustatius and Saba      1
Turkmenistan                         1
Name: location, Length: 232, dtype: int64

In [22]:
dataframe['continent'].value_counts()

Africa           28113
Europe           25959
Asia             25859
North America    13853
South America     6536
Oceania           4656
Name: continent, dtype: int64